# executables of main program and test program
high_precision_pso
test_program_pso
test_program_apc

# build folder
build
# lib folder
lib

# swap files from vi/vim/gvim etc
*.swp

# eclipse files
.cproject
.metadata
.project
.settings
RemoteSystemsTempFiles

# documentation data
/doc/html


